body{
    background-color: lightyellow;
}

h1{
    color: red;
}

p{
    font-family: Verdana;
    color: green;
}

ol{
    font-family: Verdana;
    color: purple;
}

ul{
    font-family: 'Times New Roman';
    color: royalblue;
}

   