a{
    text-decoration: none;
    color: white;
}

#table1 {
    width: 500px;
    background-color: gray;
}

#tablekh {
    height: 200px;
    background-color: gray;   
    border: white;  
}

